.dt-scroll {
    position: relative;
}

.dt-scroll{
    border:3px solid #999
}

.dt-scroll::after,
.dt-scroll::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    pointer-events: none;
    width: 40px; /* Width of the shadow */
}
  
/* Right shadow */
.dt-scroll::after {
    right: 0;
    background: linear-gradient(to left, rgba(0,0,0,0.2), rgba(0,0,0,0));
}

/* Left shadow */
.dt-scroll::before {
    left: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0));
}
  
/* Class to hide the right shadow */
.no-right-shadow::after {
    display: none;
}
  
  /* Class to hide the left shadow */
.no-left-shadow::before {
    display: none;
}
  