.dt-scroll {
    position: relative;
}

.dt-scroll{
    border:3px solid #999
}

.dt-scroll::after,
.dt-scroll::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    pointer-events: none;
    width: 40px; /* Width of the shadow */
}
  
/* Right shadow */
.dt-scroll::after {
    right: 0;
    background: linear-gradient(to left, rgba(0,0,0,0.2), rgba(0,0,0,0));
}

/* Left shadow */
.dt-scroll::before {
    left: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0));
}
  
/* Class to hide the right shadow */
.no-right-shadow::after {
    display: none;
}
  
  /* Class to hide the left shadow */
.no-left-shadow::before {
    display: none;
}
 

/* Changes the color of the table column headers to match ACCESS Header */
.dataTable thead th {
    background-color: #1a5b6e !important;  /* Dark background color */
    color: white;               /* White text color */
    font-weight: bold;            /* Bold text */
    padding: 10px;                /* Padding for better readability */
}
/* Changes the color of the active table tab to match ACCESS branding */
.nav-link.active{
    background: #107180 !important;
}
/* Changes the color of selected items in the table to match ACCESS branding */
table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px #107180 !important;
}
/* Changes the 'Column Visibility' Container */
div.dt-button-collection.two-column{
    background-color: #1a5b6e !important;  /* Dark background color */
    color: white;   
    width: 525px;
    border: 3px #185264d3 solid;
}
/* Changes 'Column Visibility' Header */
.dt-button-collection-title{
    height: 40px;
    font-weight: bold;
    font-size: 1.1em !important;
}
/* Changes the color of active buttons in 'Column Visibility' container */
button.dt-button.buttons-columnVisibility.dt-button-active {
    background: #107180 !important;
    color: white;
    border: 3px #0f6572d0 solid !important;
    border-radius: 5px;
}