{% extends "base.html" %}
{% block scripts %}
    {{super()}}

    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
    
    <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.7.0/js/dataTables.searchBuilder.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.7.0/js/searchBuilder.dataTables.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.colVis.min.js"></script>
    
    <script type="module" src="{{url_for('static', filename='js/alerts.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='js/table.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='js/issueReporting.js')}}"></script>

{% endblock %}
<div>
{% set url = url_for(request.endpoint)%}
{%block page_title %}
<div style="text-align: center;">
    {% if 'dynamic' in url%}
        <h4 style="text-align:center;" id="page_title">ACCESS Software Documentation Service (Dynamic)</h4>
    {%else%}
        <h4 style="text-align:center;" id="page_title">ACCESS Software Documentation Service (Static)</h4>
    {%endif%}
</div>
{% endblock %}

{% block app_content %}
{% if 'dynamic' in url%}
<div class="">
    <label style="font-size: 0.8em;">
        <span style="color:#FF0000;">Disclaimer: </span>
        The Software Documentation Service (SDS) is a work in progress. 
        Its purpose is to demonstrate the potential capability to support user's exploration of software offerings on ACCESS Resource Provider (RP)
        Systems allowing the user to search software by various categories and disciplines, providing summary descriptions and helpful links to
        additional documentation, etc.  The list of software (over 2000)
        associated with the various RP systems should be accurate but may not be
        complete.  The additional information related to the software packages
        has been generated through the use of AI tools (ChatGPT), is in process
        of review and may contain errors or inaccuracies.</label>
    <label><strong>Hover your mouse to the edge of the table to scroll.</strong></label>
</div>
{%endif%}

<div class="table-responsive table-container">
    <div class="table-responsive" id="softwareTableDiv" style="width: 80vw;">
        {{table|safe}}
    </div>
</div>
    
{% include 'useCase.html' %}
{% include 'reportModal.html' %}
{%endblock%}